* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .heading {
  font-size: 3rem;
  text-align: center;
  height: 20vh;
  padding-top: 1rem;
  position: relative;
}

.container .entry {
  position: relative;
  border: none;
  display: -ms-grid;
  display: grid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  width: 400px;
  margin: auto;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 2px black;
          box-shadow: 5px 5px 2px black;
  background-color: red;
}

.container .entry input {
  padding-top: 1rem;
  margin-bottom: 1rem;
  width: 380px;
  position: relative;
  background: transparent;
  border: none;
  border-bottom: solid black 1px;
}

.container .entry__amount {
  color: black;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: 5px;
  padding-left: 1rem;
  width: 100%;
}

.container .entry__amount::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: inherit;
}

.container .entry__amount:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: inherit;
}

.container .entry__amount::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: inherit;
}

.container .entry__amount::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: inherit;
}

.container .entry__base {
  color: black;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: 5px;
  padding-left: 1rem;
  width: 100%;
}

.container .entry__base::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: inherit;
}

.container .entry__base:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: inherit;
}

.container .entry__base::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: inherit;
}

.container .entry__base::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: inherit;
}

.container .entry__target {
  color: black;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: 5px;
  padding-left: 1rem;
  width: 100%;
}

.container .entry__target::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: inherit;
}

.container .entry__target:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: inherit;
}

.container .entry__target::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: inherit;
}

.container .entry__target::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: inherit;
}

.container button {
  background-color: #0044ff;
  border: none;
  border-radius: 15px;
  padding: 0.8rem 5vw;
  margin: auto;
  color: wheat;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.container button:hover {
  color: black;
  background-color: #00ffb3;
}

.container .msg {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2rem;
  top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin: auto;
  text-shadow: 0 0 3px #eebaba;
}

.ajax-section {
  position: relative;
  padding-top: 1rem;
}

.ajax-section .output {
  text-align: center;
  border-radius: 30px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 400px;
  margin: auto;
  -webkit-box-shadow: 5px 5px 2px black;
          box-shadow: 5px 5px 2px black;
  border: none;
  background-color: red;
}

.ajax-section .output__entered {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.ajax-section .output__equal-sign {
  padding-bottom: 1rem;
}

.ajax-section .output__converted {
  font-size: 2rem;
}

.footer {
  padding-top: 1rem;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer .copyright {
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 100;
}

.footer .copyright a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.footer .copyright a:hover {
  color: red;
}

.footer .social-icons {
  bottom: 1rem;
  left: 1rem;
  padding-top: 1rem;
  letter-spacing: 5px;
}

.footer .social-icons a {
  color: black;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.footer .social-icons a:hover {
  color: red;
}

@media screen and (max-width: 850px) {
  .container .heading {
    font-size: 1.5rem;
    height: 10vh;
    padding-top: 0.8rem;
  }
  .container .entry {
    width: 350px;
  }
  .container .entry input {
    width: 320px;
  }
  .container .msg {
    font-size: 1rem;
    padding-top: 1rem;
    line-height: 1rem;
  }
  .ajax-section .output {
    width: 350px;
  }
  .ajax-section .output__entered {
    font-size: 1.5rem;
  }
  .ajax-section .output__equal-sign {
    font-size: 1rem;
  }
  .ajax-section .output__converted {
    font-size: 2rem;
  }
}

html {
  height: 100vh;
}

body {
  position: absolute;
  height: 100vh;
  width: 100vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#13e997), to(#1544dd));
  background: linear-gradient(#13e997, #1544dd);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */